* {
	font-family: Roboto;
	font-size: 18pt;
}
#window {
        border-radius: 1em;
	background-color: #01161e;
	opacity: 0.85;
}
#input {
	background-color: #181c28;
	border-color: #666666;
	border-radius: 1.2em;
	color: #eff6e0;
        margin: .25em 10em .25em 10em;
        font-size: 15pt;
}
.entry {
        margin: .1em;
        font-size: 15pt;
}
#entry {
	background: transparent;
        padding: .25em;
}
#entry:selected {
	outline: none;
	border-radius: 1em;
	color: #01161E;
        background: linear-gradient(77deg, rgba(1,22,30,1) 2%, rgba(239,246,224,1) 70%); 
}
#text {
	color: #eff6e0;
	padding: 3px;
	border-radius: 2rem;
}
#text:selected {
	background: transparent;
}
image {
        margin-left: .25em;
        margin-right: .25em;
	background: transparent;
}

