* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto,  JetBrainsMono, "Noto Sans SC", "YES24";
    font-size: 12pt;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #eff6e0;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: #eff6e0;
    margin: 0;
    padding: 4px 2px;
    border-radius: 18px;
    border: none;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    margin: 0px 3px;
    padding: 0 4;
    border: none;
    border-radius: 30px;
    background: #39545e;
    color: #eff6e0;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {
    background: #124559;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#workspaces button:hover {
    background: #01161e;
    min-width: 30px;
    background-size: 400% 400%;
}

#workspaces button.active:hover {
    background: #0c2c39;
    min-width: 45px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    margin: 0 0 0 8px;
    padding: 1px 10px;
    color: #01161e;
    background: #eff6e0;
    opacity: 0.8;
    border-radius: 18px;
    border: none;
}

#custom-wvkbd {
    margin: 0 0 0 16px;
    padding: 1px 10px;
    color: #01161e;
    background: #eff6e0;
    opacity: 0.8;
    border-radius: 18px;
    border: none;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber {
    margin: 0 8px;
    padding: 1px 10px;
    color: #01161e;
    background: #eff6e0;
    opacity: 0.8;
    border-radius: 18px;
    border: none;
    font-family: "Font Awesome 6 Free";
    font-size: 10pt;
}

#window {
    background: #eff6e0;
    padding: 1px 10px;
    border-radius: 18px;
    border: none;
    color: #01161e;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#battery.charging, #battery.plugged {
    color: #38b000;
}

#battery.warning:not(.charging) {
	color: #f6ae2d;
}

#battery.critical:not(.charging) {
    color: #bc4749;
}

label:focus {
    background-color: #000000;
}

