* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto,  JetBrainsMono, "Noto Sans SC", "YES24";
    font-size: 12pt;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fefffd;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: #fefffd;
    margin: 0;
    padding: 4px 2px;
    border-radius: 18px;
    border: none;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    margin: 0px 3px;
    padding: 0 4;
    border: none;
    border-radius: 30px;
    background: #555555;
    color: #fefffd;
    transition: all 0.3s ease-in-out;
    opacity:0.5;
}

#workspaces button.active {
    background: #222222;
    min-width: 45px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:0.9;
}

#workspaces button:hover {
    background: #000000;
    min-width: 30px;
    background-size: 400% 400%;
}

#workspaces button.active:hover {
    background: #111111;
    min-width: 45px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    margin: 0 0 0 8px;
    padding: 1px 10px;
    color: #444444;
    background: #fefffd;
    opacity: 0.8;
    border-radius: 18px;
    border: none;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    margin: 0 8px;
    padding: 1px 10px;
    color: #444444;
    background: #fefffd;
    opacity: 0.8;
    border-radius: 18px;
    border: none;
    font-family: "Font Awesome 6 Free";
    font-size: 10pt;
}

#window {
    background: #fefffd;
    padding: 1px 10px;
    border-radius: 18px;
    border: none;
    color: #101010;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#battery.charging, #battery.plugged {
    color: #06d6a0;
}

#battery.warning:not(.charging) {
	color: #ffd166;
}

#battery.critical:not(.charging) {
    color: #ef476f;
}

label:focus {
    background-color: #000000;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
